@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif; 
}

.game-board {
	height: 100vh;
}

.player-1-text,
.player-2-text {
	color: grey; 
	font-size: 35px; 
}

.player-1-global-score,
.player-2-global-score {
	color: red;
	font-size: 50px;
}

.player-1-round-score,
.player-2-round-score {
	background-color: red;
	opacity: 0.5; 
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 100px; 
}

/* Animation lancement dé */
.diceAnimation {
	animation: 2s ease 0s 1 normal diceAnimation;
}

@keyframes diceAnimation {
	0%  { transform: translateY(-200px); } 
	10% { transform: translateY(0); }
	20% { transform: translateY(-20px); } 
	50% { transform: translateY(0); }
	70% { transform: translateY(0); } 
	80% { transform: translateY(0); } 
	100% { transform: translateY(0); }
}
